@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Changes to CSS */

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #6a6a6a;
}

ul {
  list-style-type: none;
}

button {
  padding: 8px 16px;
}

.header,
.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.footer {
  background-color: #eeeeee;
}