/* Add CSS Styling */
.odd-line {
    background-color: rgb(255, 160, 160);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

#third {
    font-size: 36px;
}

#fourth {
    background-color: rgb(160, 255, 160);
    font-size: 24px;
    font-weight: bold;
}