/* Add CSS Styling */
html {
    background-color: black;
}

div {
    background-color: white;
    width: 400px;
    height: 100px;
    margin: auto;
    padding: auto;
}

.button1,
.button2 {
    font-size: 28px;
    font-family: 'Helvetica';
}

.button1 {
    background-color: black;
    color: white;
}

.button2 {
    background-color: yellow;
}