body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 1px solid white;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px;
  width: 140px;
}